{% extends "layout.html" %}
{% block content %}
<div class="login-box">
    <h2>Submit Fax</h2>
    <div class="callout">
        <h4>If you have some fun animal facts you'd like to share, please submit them! We may use them in the future.</h4>
    </div>
    <form action="/facts" method="Post">
        <div class="user-box">
            <input name="submitter" type="text" required="">
            <label for="submitter">Name</label>
        </div>
        <div class="user-box">
            <input name="fact" required="">
            <label for="fact">Fact</label>
        </div>
        <a href="#">
            <button class="your-button-class" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </a>
    </form>

  <a id="goback" href="{{url_for('pet.index')}}">⟨　Go back</a>
</div>
{% endblock %}




