{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="container">
    <div class="row">
      {% for pet in pets %}
      <div class="col-md-4">
        <div class="card" style="width: 9.5rem;">
          <h2>{{ pet.pet_name }}</h2>
          <div>
            <img style="width:150px;height:150px;" src="{{ pet.pet_photo }}" class="card-img-top" alt="Photo of pet">
          </div>
          <div class="card-body">
            <a href="{{ pet.pet_id }}" class="btn btn-primary">Read Me</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="callout">
      We'd love to learn more fun facts! <a href="{{'new' }}">Submit some here.</a>
    </div>
  </div>
</div>


{% endblock content %}







