{% extends "layout.html" %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card mb-12 ">
        <div class="card-body ">
            <h5 class="card-title">{{ pet.pet_name }}</h5>
            <p class="card-text"><span style="font-weight:800">Did you know?</span><br/>{{ pet.pet_fact }}</p>
        </div>
        <img style="width:233px;height:120px;" src="{{ pet.pet_photo }}" class="card-img-top" alt="Photo of pet">
    </div>
</div>
<div>
    <a id="goback" href="{{url_for('pet.index')}}">⟨　Go back</a>
</div>

{% endblock content %}






